.test {
  font-size: 24px;
  background-color: red;
}

.main-panel {
  border: 3px solid #f8f9fa;
}

.button-panel-vh {
  height: 40vh;
}

.header-vh {
  height: 5vh;
}

.main-panel-vh {
  height: 55vh;
}

agm-map {
  height: 55vh;
}

.map-panel {
  padding-right: 0;
  padding-left: 0;
}
